/mvnw text eol=lf
*.cmd text eol=crlf
# Java priorisieren
*.java linguist-detectable=true

# TypeScript einbeziehen
*.ts linguist-detectable=true

# CSS einbeziehen
*.css linguist-detectable=true

# JavaScript ausschließen, falls es nur generiert wird
*.js linguist-detectable=false

# Generierte Dateien und Verzeichnisse ignorieren
node_modules/* linguist-vendored
frontend/generated/* linguist-generated
*.min.js linguist-vendored
*.min.css linguist-vendored



